<div class="l-flex-fix">
    <div class="l-flex-parent">
        <div class="t-purple l-flex-child l-grid-half">
            <h4>The cards I want to Trade away</h4>
            <div class="card-item">
                <ul class="collapsible">
                    <li>
                        <div class="collapsible-header">
                            <i class="material-icons">filter_drama</i>
                            User Cards
                            <span></span></div>
                        <div class="collapsible-body">
                            <ul>
                                {{#each userCards as |userCard|}}
                                <li data-id="{{userCard.id}}" data-user="{{userCard.user_id}}" class="my-card">
                                    {{userCard.card_name}}</li>
                                {{/each}}
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="btn-color">
                <a class="waves-effect waves-light btn-large" id="tradeBtn">Trade</a>
        </div>

        <div class="t-white l-flex-child l-grid-half">
            <h4>The cards from other users</h4>
            <div class="card-item">
                <ul class="collapsible">
                    <li>
                        <div class="collapsible-header">
                            <i class="material-icons">filter_drama</i>
                            Other User's Card
                            <span></span></div>
                        <div class="collapsible-body">
                            <ul>
                                {{#each otherCards as |otherCard|}}
                                <li data-user="{{otherCard.user_id}}" data-id="{{otherCard.id}}" class="other-card">
                                    {{otherCard.card_name}}</li>
                                {{/each}}
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<script src="/js/trading.js"></script>